@import "tailwindcss";

@source "../node_modules/@heroui/styles";
@source "../node_modules/@heroui/theme";
@source "../node_modules/@heroui/react";

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  background: #09090b;
  color: white;
  font-family: Inter, system-ui, sans-serif;
}
